$node-text-color: #9DA5AB !default;
$node-text-font: lucida grande, tahoma, verdana, arial, sans-serif !default;
$node-text-font-size: 14px !default;

$node-selected-text-color: $node-text-color !default;
$node-selected-background-color: #31363F !default;

$node-toggle-color: $node-text-color !default;

$node-icon-color: $node-text-color !default;

$loading-color: #E2C089 !default;

%node-toggle {
  content: ">"
}

@import "../tree";
