.rt-tree {
  list-style: none;
  //background-color: #21252B;
  margin: 0;
  padding: 0;
  color: #9DA5AB;
  font-family: lucida grande, tahoma, verdana, arial, sans-serif;
  font-size: 14px;
}

.rt-node {
  position: relative;
}

.rt-link {
  cursor: pointer;
  position: relative;
  padding: 0 5px;
  display: block;
}

.rt-link-active {
  background: #31363F;
}

.rt-toggle {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-left: -5px;
  height: 24px;
  width: 24px;
}

.rt-toggle-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -11px 0 0 -7px;
  height: 14px;

  &::before {
    content: ">";
  }
}

.rt-node-header {
  display: inline-block;
  vertical-align: top;
  color: #9DA5AB;
  width: 80%;

  .rt-node-icon {
    margin-right: 5px;
  }
}

.rt-node-title {
  line-height: 24px;
  vertical-align: middle;
}

.rt-tree .rt-tree {
  padding-left: 19px;
}

.rt-loading {
  color: #E2C089;
  padding-left: 5px;
}
